<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="com.my.container.*" level="DEBUG"/>

    <root level="WARNING">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>